# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
    name = exmaple
    email = example@example.com
[credential]
    helper = osxkeychain
[core]
    excludesfile = $HOME/.gitignore_global